body {
  margin: 0;
  padding: 0;
  height: 100%;  /* Garante que a altura da página seja sempre 100% */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Preenche 100% da altura da tela */
  background-color: #f6f6f6;
  font-family: "Ubuntu", sans-serif;
}

/* Imagem de fundo com transparência */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/background.jpeg');
  background-size: cover;
  background-position: center;
  opacity: 0.5; /* Controla a transparência da imagem de fundo */
  z-index: -1; /* Garante que a imagem fique atrás do conteúdo */
  filter: brightness(0.7); /* Escurece a imagem para mais contraste */
}

.page-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 10px;
  box-shadow: 0 8px 13px -3px rgba(0, 0, 0, 0.07);
}

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-card {
  border-radius: 10px;
  border: 1px solid #e2e8f0; /* Borda da área de login */
  width: 500px;
  max-width: 1209px; /* Define a largura máxima da caixa */
  background-color: #fff;
  padding: 30px 80px;
  box-shadow: 0 8px 13px -3px rgba(0, 0, 0, 0.07);
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
  height: auto;
}

.logo-image {
  width: 180px; /* Define a largura da imagem */
  height: auto; /* Mantém a proporção da altura */
}

.login-title {
  font-size: 20px;
  font-weight: 700;
  color: #1c2434;
  margin-top: 20px;
  margin-bottom: 5px;
}

.input-label {
  color: #1c2434;
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #1c2434;
}

.input-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  padding: 12px;
}

.password-container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #e2e8f0;
  background-color: #fff;
  padding: 12px;
}

.input-placeholder {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #fff;
  color: #67696f;
  font-family: "Ubuntu", sans-serif;
}

.input-placeholder::placeholder {
  font-size: 14px;
  background-color: #fff;
  color: #67696fa4;
  font-family: "Ubuntu", sans-serif;
}

.email-icon, .password-icon {
  filter: brightness(150%) grayscale(100%);
  opacity: 0.6;
  transform: scale(1.0);
  margin-right: 15px;
}

.login-button {
  background-color: #373737;
  color: #eff4fb;
  padding: 10px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  margin-top: 30px;
}

.registration-link {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
  color: #3056d3;
}

.registration-link a {
  color: #3056d3;
}

@media (max-width: 991px) {
  .login-card {
    padding: 20px;
    max-width: 90%;
  }

  .login-title {
    font-size: 20px;
  }
}